@media screen and (max-width: 1027px) {

    /* gerais */
    .flex {
        flex-direction: column-reverse;
    }

    h2.titulo{
       font-size: 34px; 
       line-height: 30px;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    /* cabeçalho */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /*topo do site  */
    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site {
        width: 90%;
        margin-right: 160px;
        margin-bottom: 70px;
    }

    /* estilo das especialidades */

    section.especialidade {
        padding: 40px 8%;
    }
    
    /* sobre */
    section.sobre{
        padding: 80px 8%;
    }
    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }
    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }

    /* PORTIFÓLIO */

    section.portifolio{
        padding:80px 8%;
    }
    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portifolio .flex{
        gap: 50px;
    }

    /* rodape */

    footer .flex{
        flex-direction: column;
        gap: 30px;
    }
    footer .line-footer{
        text-align: center;
    }

   
    }
   
