@charset "UTF-8";

/* ESTILO GERAL */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /*color: rgba(7, 97, 207, 0.914);*/
}
img{
    width: 100px;
    height: 100px;
    padding: 0px;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

/* ESTILO CABEÇALHO */

header{
    padding:40px 4% ;
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: rgb(99, 98, 98);
    text-decoration: none;
    display: inline-block;
}
header a:hover{
    color: white;
    transform: scale(1.09);
    transition: 0.2s;
}
header nav ul {
    list-style-type:none;
}
header nav ul li {
    display: inline-block;
    padding: 0 50px;
    font-size: 1.2em;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color:#162c87; 
    color: white;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    
}
header .btn-contato button:hover{
    box-shadow: 2px 2px 17px #0d278ff7;
    transform: scale(1.05);
    transition: 0.2s;
}